<!doctype html>
<html>
<head>
    <title>Sight :: iTunes Analytics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
</head>
<body>
    <header>
        <div class="container">
             <h1><a href="/">Sight</a></h1>
        </div>
    </header>

    <div class="container">
        <div class="jumbo">
            <p>Catalog File: {{ se.v['Catalog File'] }} (Size: {{ '%04d' % (se.v['Catalog File Size'] / 1024) }} KiB)</p>
            <p>Music Folder: {{ se.v['Music Folder'] }}</p>
            
            <div id="chart_albumsbyyear"></div>
            
            <div id="chart_playcountbyalbumyear"></div>
            
            {#
            <h3>Artists</h3>
            
            <table class="sortable">
                <tr>
                    <th>Artist</th>
                </tr>
                $ for artist in se.getArtists()
                    <tr>
                        <td>{{ artist['Artist'] }}</td>
                    </tr>
                $ endfor
            </table>
            #}
            
            <h3>Albums</h3>
            
            <table class="sortable">
                <tr>
                    <th>Album Play Count (<abbr title="album play count = sum(track play counts) / sqrt(num tracks)">?</abbr>)</th>
                    <th>Normalised</th>
                    <th class="sortascfirst">Album</th>
                    <th class="sortascfirst">Album Artist || Artist</th>
                    <th>Tracks</th>
                    <th>Year</th>
                    <th>Total Listen Time</th>
                </tr>
                $ for album in se.getMostPlayedAlbums()
                    <tr id="pid-{{ album['Tracks'][0]['Persistent ID'] }}">
                        <td>{{ album['Album Play Count']|round(1) }}</td>
                        <td>{{ album['Album Play Count Normalised']|round(1) }}</td>
                        <td class="td-album">
                        $ if loop.index0 < 10:
                            <img src="/persistentid/{{ album['Tracks'][0]['Persistent ID'] }}/artwork">
                        $ endif
                            {{ album['Album'] }}
                        </td>
                        <td>{{ album['Artist'] }}</td>
                        <td>{{ album['Tracks']|length }}
                        <td>{{ album['Year'] }}</td>
                        <td>{{ album['Seconds Spent Listening']|secondstohms }}</td>
                    </tr>
                $ endfor
            </table>
            
            <div id="itunestable">
                $ for album in se.getLongestPlayedAlbums(100)
                <div class="albumtile">
                    <p class="timeoverlay">{{ album['Seconds Spent Listening']|secondstohms }}</p>
                    <img src="/persistentid/{{ album['ArtworkPersistentID'] }}/artwork"/>
{#                    <img src="/persistentid/{{ album['Tracks'][0]['Persistent ID'] }}/artwork"/>#}
                    <p class="albumname">{{ album['Album'] }}</p>
                    <p class="artistname">{{ album['Artist'] }}</p>
                </div>
                $ endfor
            </div>
            
        </div>
    </div>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/sortable/0.6.0/js/sortable.min.js"></script>

    <script>

    window.sight = window.sight || {};
    window.sight.data = {
        playcountbyalbumyear: {{ se.getPlayCountsByAlbumYear()|tojson|safe }}
    };

    </script>

    <script src="{{ url_for('static', filename='js/sight.js') }}"></script>
    
</body>
</html>
