<!doctype html>
<html>
<head>
    <title>Sight :: iTunes Analytics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
<!--    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>-->
    <script>window.jQuery || document.write('<script src="{{ url_for("static", filename="js/jquerylocal.js") }}">\x3C/script>');</script>
    <script src="{{ url_for('static', filename='js/underscore-min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3.v3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sorttable.js') }}"></script>
    
    <script>
    
    window.sightdata = {
        'playcountbyalbumyear' : {{ se.getPlayCountsByAlbumYear()|tojson|safe }}
    };
    
    </script>
    
    <script>
    {% raw %}
    
    (function(sight) {
        
        var drawAlbumsByYear = function(parentdiv) {
            
            var data = window.sightdata['playcountbyalbumyear'];
            
            var margin = {top: 20, right: 20, bottom: 30, left: 40},
                width = 980 - margin.left - margin.right,
                    height = 300 - margin.top - margin.bottom;
            
            var x = d3.scale.linear()
                .domain(d3.extent(data, function(d) { return d.year; }))
                .range([0, width]);
            
            var y = d3.scale.linear()
                .domain(d3.extent(data, function(d) { return d.playCount; }))
                .range([height, 0]);
            
            var r = d3.scale.pow()
                .domain(d3.extent(data, function(d) { return d.albums.length; }))
                .range([2.5, 20]);
            
            var xAxis = d3.svg.axis()
                .scale(x)
                .tickFormat(d3.format("^4f"))
                .orient("bottom");
        
            var yAxis = d3.svg.axis()
                .scale(y)
                .orient("left");
                
            var svg = d3.select(parentdiv).append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
              .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
            
            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis);
        
            svg.append("g")
                .attr("class", "y axis")
                .call(yAxis)
              .append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 6)
                .attr("dy", ".71em")
                .style("text-anchor", "end")
                .text("Play Count");
                
            svg.selectAll(".yeardot")
                .data(data)
              .enter().append("circle")
                .attr("class", "yeardot")
                .attr("r", function(d) { return r(d.albums.length); })
                .attr("cx", function(d) { return x(d.year); })
                .attr("cy", function(d) { return y(d.playCount); })
                .on("mouseover", function(d) {
                    
                    $("#labelyear-"+d.year).show();
                    /*
                    var t = svg.append("text")
                        .attr("x", width / 2)
                        .attr("y", 0)
                        .attr("text-anchor", "middle")
                        .attr("id", "albumslabel");
//                    .text( d.albums[0]['Album'] )
                    
                    d.albums.forEach(function(a, i) {
                        t.text(t.text() + ' / ' + a['Album']);
                    });*/
                })
                .on("mouseout", function(d) {
                    $("#labelyear-"+d.year).hide();
                    
//                    svg.select("#labelyear-"+d.year).style("display", "none");
                });
            
            
            var textNodes = svg.selectAll("foreignObject").data(data);
            var foreignObjects = textNodes.enter().append("foreignObject")
                .attr("x", function(d) { return x(d.year) - 100; })
                .attr("y", function(d) { return y(d.playCount) - 100; })
                .attr("width", 200)
                .attr("height", 300)
                .attr("id", function(d) { return "labelyear-" + d.year; })
                .style("display", "none");
                
            var htmlDOMs = foreignObjects.append("xhtml:body")
                .style("margin", 0)
                .style("padding", 0)
                .style("height", 300);
                
            var htmlLabels = htmlDOMs.append("div")
                .attr("class", "htmlLabel")
                .style("border", "1px solid #777");

                
            htmlLabels.append("p")
                .html(function(d) {
                    return d.albums.reduce(function(prev,cur,i,arr) {
                        return (prev ? prev + "<br/>" : '') + cur['Album'] + ' - ' + cur['Artist'];
                    }, "");
                })
                .style("margin", 0);
        };
        
        
        
        var drawPlayCountByAlbumYear = function(parentdiv) {
            var data = window.sightdata['playcountbyalbumyear'];
            
            var margin = {top: 20, right: 20, bottom: 30, left: 40},
                width = 980 - margin.left - margin.right,
                height = 300 - margin.top - margin.bottom;
        
            var x = d3.scale.linear()
                .domain(d3.extent(data, function(d) { return d.year; }))
                .range([0, width]);
            
            var y = d3.scale.linear()
                .domain(d3.extent(data, function(d) { return d.playCount; }))
                .range([height, 0]);
            
            var xAxis = d3.svg.axis()
                .scale(x)
                .tickFormat(d3.format("^4f"))
                .orient("bottom");
            
            var yAxis = d3.svg.axis()
                .scale(y)
                .orient("left");
            
            var line = d3.svg.line()
                .x(function(d) { return x(d.year); })
                .y(function(d) { return y(d.playCount); });
            
            var svg = d3.select(parentdiv).append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
              .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
            
            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis);
            
            svg.append("g")
                .attr("class", "y axis")
                .call(yAxis)
              .append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 6)
                .attr("dy", ".71em")
                .style("text-anchor", "end")
                .text("Play Count");
            
            svg.append("path")
                .datum(data)
                .attr("class", "line")
                .attr("d", line);
        
        };
        
        sight.init = function() {
            drawAlbumsByYear('#chart_albumsbyyear');
//            drawPlayCountByAlbumYear('#chart_playcountbyalbumyear');
        };
        
    })(window.sight = window.sight || {});
    
    
    $(sight.init);
    
    {% endraw %}
    </script>
</head>
<body>
    <header>
        <div class="container">
             <h1><a href="/">Sight</a></h1>
        </div>
    </header>

    <div class="container">
        <div class="jumbo">
            <p>Catalog File: {{ se.v['Catalog File'] }} (Size: {{ se.v['Catalog File Size'] }})</p>
            <p>Music Folder: {{ se.v['Music Folder'] }}</p>
            
            <div id="chart_albumsbyyear"></div>
            
            <div id="chart_playcountbyalbumyear"></div>
            
            {#
            <h3>Artists</h3>
            
            <table class="sortable">
                <tr>
                    <th>Artist</th>
                </tr>
                $ for artist in se.getArtists()
                    <tr>
                        <td>{{ artist['Artist'] }}</td>
                    </tr>
                $ endfor
            </table>
            #}
            
            <h3>Albums</h3>
            
            <table class="sortable">
                <tr>
                    <th>Album Play Count (<abbr title="album play count = sum(track play counts) / sqrt(num tracks)">?</abbr>)</th>
                    <th>Normalised</th>
                    <th class="sortascfirst">Album</th>
                    <th class="sortascfirst">Album Artist || Artist</th>
                    <th>Tracks</th>
                    <th>Year</th>
                    <th>Total Listen Time</th>
                </tr>
                $ for album in se.getMostPlayedAlbums()
                    <tr id="pid-{{ album['Tracks'][0]['Persistent ID'] }}">
                        <td>{{ album['Album Play Count']|round(1) }}</td>
                        <td>{{ album['Album Play Count Normalised']|round(1) }}</td>
                        <td class="td-album">
                        $ if loop.index0 < 10:
                            <img src="/persistentid/{{ album['Tracks'][0]['Persistent ID'] }}/artwork" />
                        $ endif
                            {{ album['Album'] }}
                        </td>
                        <td>{{ album['Artist'] }}</td>
                        <td>{{ album['Tracks']|length }}
                        <td>{{ album['Year'] }}</td>
                        <td>{{ album['Seconds Spent Listening']|secondstohms }}</td>
                    </tr>
                $ endfor
            </table>
            
            <div id="itunestable">
                $ for album in se.getLongestPlayedAlbums(100)
                <div class="albumtile">
                    <p class="albumtimeoverlay">{{ album['Seconds Spent Listening']|secondstohms }}</p>
                    <img src="/persistentid/{{ album['ArtworkPersistentID'] }}/artwork"/>
{#                    <img src="/persistentid/{{ album['Tracks'][0]['Persistent ID'] }}/artwork"/>#}
                    <p class="albumname">{{ album['Album'] }}</p>
                    <p class="artistname">{{ album['Artist'] }}</p>
                </div>
                $ endfor
            </div>
            
        </div>
    </div>
    
    <script>{% raw %}
    
    $(".td-album").click(function(evt) {
        window.open("/persistentid/"+ $(this).parent().attr('id').replace('pid-', '') + "/artwork");
    });
    
    $(".albumtile").hover(function() {
        $(this).find("img").fadeTo(100, 1);
        $(this).find(".albumtimeoverlay").fadeTo(100, 0);
    }, function() {
        $(this).find("img").fadeTo(250, 0.5);
        $(this).find(".albumtimeoverlay").fadeTo(250, 1);
    });
    
    </script>{% endraw %}
    
</body>
</html>
